/* This is contact.html stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

* {
    box-sizing: border-box;
}
input[type=text],select,textarea{
    width:100%;
    padding:12px;
    border:1px solid #000000;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical
}

textarea {
    width:100%;
    height:170px
}

input[type=submit] {
    color: black;
    padding: 12px 30px;
    margin-bottom: 200px;
    border: none;
    background-color: green;
}

input[type=submit]:hover {
  background-color: pink;      
}

.container {
    border:1px;
    padding:10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

 .column {
    float:left;
    width: 50%;
    margin-top:6px;
    padding: 20px;
    font-family: 'PT Sans', sans-serif; 
}

.img-icons {
    float:left;
    width:100%;

}

.row:after {
    content:"";
    display: table;
    clear:both;
}

@media screen and (max-width: 500px) {
.column,input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}

/* This is about.html stylesheet */

.about-section,h1 {
    text-align: center;
    padding:80px;
    margin:20px ;
    background-color: rgb(152, 196, 152);
    color: black;
    font-family: 'Oswald', sans-serif;
}

.about-section {
    font-family: 'PT Sans', sans-serif; 

}

/* Thi is main page */
.topnav {
    background-color:rgb(204, 109, 149) ;
    overflow: hidden;
    font-size:20px;
    padding:20px,20px,20px;
    font-family: 'Oswald', sans-serif;


}