@import url('https://fonts.googleapis.com/css2?family=Lora&family=Redressed&family=Shizuru&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Redressed&family=Rubik:wght@300&family=Shizuru&family=Syne+Tactile&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mukta:wght@200&family=Redressed&family=Rubik:wght@300&family=Shizuru&family=Syne+Tactile&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body, html {
    overflow-x: hidden;
}

/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.logo {
    font-family: 'Shizuru', cursive;
    font-size: 30px;
}

.nav-link {display: flex;
    align-items: center;
}

.nav-link li {
    margin: 0 20px;
}

/* header*/
header{
    width: 100vw;
    height: 85vh;
    background-image: url(img/heroimg.jpg);
    background-position:center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size:4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: rgb(158, 108, 108);
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size:7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background-color: chocolate;
    border-radius: 30px;
    color: black
}


/* Event */
section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: rgb(199, 149, 199);
    font-family: 'Mukta', sans-serif;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col img{
    display: flex;
    width: 80%;
    height: 70%;
    flex-direction: column;
    align-items: center;
}

.event .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: rgb(94, 104, 165);
    margin:20px auto;
}

p {
    width:400px;
    color: rgb(94, 104, 165);
    padding-bottom: 40px;
}

.event .ctn {
    margin-top:200px;
}

.explore {
    width: 100vw;
    height: 60vh;
    background-image: url(/img/panda2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content {
    width: 50%;
    padding: 50px;
    color: whitesmoke;
}

.explore-content h1 {
    font-size: 4vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: whitesmoke;
}

.explore-content .ctn {
    margin-top: 40px;
}

.video {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: center; 
    margin-bottom: 20px;
    margin-top: -45px;
}

.video-content h1 {
    margin:5px;
    margin-bottom:10px;
    font-size: 4vmin;
}

/* footer for main page */
.footer{
    background:#000;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}
    
.footer .rows{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
 }
    
.footer .rows a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
 }
    
.footer .rows a:hover{
    color:#fff;
}
    
 .footer .rows ul{
    width:100%;
}
    
.footer .rows ul li{
    display:inline-block;
    margin:0px 30px;
}
    
.footer .rows a i{
    font-size:2em;
    margin:0% 1%;
}
    
@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
}

.footer .rows ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
}

.footer .rows a i{
    margin:0% 3%;
}
}