/* This is contact.html stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Oswald:wght@200&family=PT+Sans:ital@1&display=swap');


/* This is contact page styltsheet */
* {
    box-sizing: border-box;
}
input[type=text],select,textarea{
    width:100%;
    padding:12px;
    border:1px solid #000000;
    margin-top: 6px;
    margin-bottom: 16px;
    resize:vertical
}

textarea {
    width:100%;
    height:170px
}

input[type=submit] {
    color: black;
    padding: 12px 30px;
    margin-bottom: 200px;
    border: none;
    background-color: green;
}

input[type=submit]:hover {
  background-color: pink;      
}

.container {
    border:1px;
    padding:10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

 .column {
    float:left;
    width: 50%;
    margin-top:6px;
    padding: 20px;
    font-family: 'PT Sans', sans-serif; 
}

.img-icons {
    float:left;
    width:100%;

}

.row:after {
    content:"";
    display: table;
    clear:both;
}

@media screen and (max-width: 500px) {
.column,input[type=submit] {
    width: 100%;
    margin-top: 0;
}
}

/* This is about page stylesheet */

.about-section,h1 {
    text-align: center;
    padding:80px;
    margin:20px ;
    background-color: rgb(152, 196, 152);
    color: black;
    font-family: 'Oswald', sans-serif;
}

.about-section {
    font-family: 'PT Sans', sans-serif; 

}

.map {
    float:left;
}

.video {
    float: right;

}

/* Thi is main page stylesheet */


header {
width: 1000px;
}

.topnav {
    background-color:rgb(204, 109, 149) ;
    overflow: hidden;
    font-size:20px;
    padding:20px,20px,20px;
    font-family: 'Oswald', sans-serif;
    display: center;

}
.topnav a {
    text-decoration: none;
    display: block;
    float:left;
    width:100px;
    
}

.container1{
    background-color: goldenrod;
    width: 900px;
    height: 600px;
    margin: 0px;
    margin-right: auto;
    margin-left: auto;
}

section{
    background-color: blue;
    width: 500px;
    height: 300px;
    color: white;
    text-align: center;
    float: left;
}

article{
    background-color: purple;
    width: 500px;
    height: 300px;
    text-align: center;
    float: left;
    color: white;
}

aside{ 
    text-align: center;
    color: yellow;
    height: 600px;
    width: 400px;
    float: left;
    background-color: transparent;
}
.right{
    height: 600px;
    width: 500px;
    float:left;
}
.clearfloat{
    clear: both;
}


footer{
    padding:30px 0px;
    text-align:center;
    font-family: 'Gideon Roman', cursive;
    font-size: 18px;
}
footer.row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;

}
    
.footer.row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}
    
 .footer.row a:hover{
    color:#fff;

}
    
.footer.row2{
    width:100%;
    overflow: hidden;
    padding: 10px;
}


 .footer.row2 a i{
    font-size:1px;
    margin:0% 1%;
}
    
@media (max-width:620px){
    .footer{
    text-align:left;
    padding:5%;
}
}

